<!DOCTYPE html>
<html>
  <head>
    <title>AudioPuff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Allows for google fonts: Josefin Sans %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <%= favicon_link_tag asset_path('favicon.svg') %>
    <meta property='og:image' content=<%=image_tag("homepage.png")%>>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'displayName': '<%= current_user.display_name %>',
          'profileUrl': '<%= current_user.profile_url %>'
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
