<!DOCTYPE html>
<html>
  <head>
    <title>AudioPuff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Allows for google fonts: Josefin Sans %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    
    <%# Allows for wavesurfer.js %>
    <script src="https://unpkg.com/wavesurfer.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'display_name': '<%= current_user.display_name %>'
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
